@{
    ViewBag.Title = "Otimização";
}

<html>
<head>

</head>

<body>

    <table id="intes" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Quantidade(Kg) disponiveis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arroz:</td>
                <td><input type="text" id="row-1-age" name="row-1-age" value="130"></td>
            </tr>
            <tr>
                <td>Sal:</td>
                <td><input type="text" id="row-2-age" name="row-2-age" value="80"></td>
            </tr>
            <tr>
                <td>Feijão:</td>
                <td><input type="text" id="row-3-age" name="row-3-age" value="66"></td>
            </tr>
            <tr>
                <td>Açúcar:</td>
                <td><input type="text" id="row-4-age" name="row-4-age" value="22"></td>
            </tr>
            <tr>
                <td>Leite:</td>
                <td><input type="text" id="row-6-age" name="row-2-age" value="55"></td>
            </tr>
            <tr>
                <td>Carna:</td>
                <td><input type="text" id="row-7-age" name="row-3-age" value="66"></td>
            </tr>
            <tr>
                <td>Óleo:</td>
                <td><input type="text" id="row-8-age" name="row-4-age" value="92"></td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    &nbsp;
    <table id="pessoas" class="display" style="width:80%">
        <thead>
            <tr>
                <th>Pessoas</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adultos:</td>
                <td><input type="text" id="row-1-age" name="row-1-age" value="10380"></td>
            </tr>
            <tr>
                <td>Crianças:</td>
                <td><input type="text" id="row-2-age" name="row-2-age" value="4705"></td>
            </tr>
        </tbody>
    </table>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <table id="resulado" class="display" style="width:85%">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td style='font-weight:bold;'>Crianças Atendidas:</tdstyle='font-weight:bold;'>
                <td><input type="text" id="row-1-age" name="row-2-age" value="?"></td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Adultos Atendidas:</td>
                <td><input type="text" id="row-2-age" name="row-2-age" value="?"></td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Famílias Atendidas:</td>
                <td><input type="text" id="row-3-age" name="row-1-age" value="?"></td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <button class="btn btn-danger" id="crip">Adicionar</button>
    <button class="btn btn-success" id="descrip">Resolver</button>
    <p></p>
</body>
</html>