@{
    ViewBag.Title = "Otimização ";
}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
        width: 120px;
        background: #222;
    }
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
        margin-left: 120px
    }
    /* Remove margins from "page content" on small screens */

</style>
<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        @*<img src="/w3images/avatar_smoke.jpg" style="width:100%"> IMAGEEMMM 1*@
        <a href="" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>Intodrução</p>
        </a>
        <a href="#problema" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fas fa-cog w3-xxlarge"></i>
            <p>Problema</p>
        </a>
        <a href="#alunos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>Alunos</p>
        </a>
    </nav>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">Trabalho</span> Otimização</h1>
            <p>Distribuição de Recursos em Desastres.</p>
            @*<img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108"> IMAGEM 2*@
        </header>

        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="problema">
            <h2 class="w3-text-light-grey">Contextualização</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>
                Desastres de grandes proporções sempre acontecem ao redor do mundo.
                59,4% dos municípios não possuem plano de gestão de riscos.
                Organização em meio ao caos.
                Ex: Brumadinho, enchentes.

            </p>
            <h3 class="w3-padding-16 w3-text-light-grey">Modelo</h3>
            <p class="w3-wide">Adultos</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:100%">
                    Numero de adultos atingidos:  <input style="background-color:transparent; border-color:transparent" min="0" type="number" placeholder="Digite um valor." id="adulto">
                </div>
            </div>
            <p class="w3-wide">Crianças</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:100%">
                    Numero de crianças atingidas:   <input style="background-color:transparent; border-color:transparent" min="0" type="number" placeholder="Digite um valor." id="crianca">
                </div>
            </div>
            <p class="w3-wide">Alimentos</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:100%">Quantidade de alimentos Kg/L disponiveis para distribuição por pessoa: (Preencha todos campos abaixo <i class="fas fa-arrow-down">)</i></div>
            </div><br>

            <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Arroz: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="arroz" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Sal: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="sal" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Feijão: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="feijao" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Açúcar: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="acucar" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Farinha: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="farinha" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Leite: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="leite" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Carne: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="carne" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">Óleo: </span> <input class="w3-xlarge" min="0" type="number" placeholder="  ?" id="oleo" style="width:80px; background-color:transparent; border-color:transparent; color:red">

                </div>
            </div>

            <button class="w3-button w3-light-grey w3-padding-large w3-section" id="resolver">
                <i class="fas fa-cog"></i> Resolver
            </button>

            <p><text id="erro" style="color:red"></text></p>

            <!-- Grid for pricing tables -->
            <h3 class="w3-padding-16 w3-text-light-grey">Solução</h3>
            <p>
                Numero de Adultos e Crianças que conseguem ser atendidas partindo do numero de alimento total
                disponibilizado, com duração de 1 mês para consumo.

            </p>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half w3-margin-bottom">
                    <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Primal</li>
                        <li class="w3-padding-16">N° de Adultos:</li>
                        <li class="w3-padding-16">
                            <h2><text id="entradaAdultoP" value="">0</text></h2>
                            <span class="w3-opacity">atendidas</span>
                        </li>
                        <li class="w3-padding-16">N° de Crianças:</li>
                        <li class="w3-padding-16">
                            <h2><text id="entradaCriancaP" value="">0</text></h2>
                            <span class="w3-opacity">atendidas</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <text id="mensagemPrimal" value=""></text>
                        </li>
                    </ul>
                </div>

                <div class="w3-half">
                    <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Dual</li>
                        <li class="w3-padding-16">N° de Adultos:</li>
                        <li class="w3-padding-16">
                            <h2><text id="entradaAdultoD" value="">0</text></h2>
                            <span class="w3-opacity">atendidas</span>
                        </li>
                        <li class="w3-padding-16">N° de Crianças:</li>
                        <li class="w3-padding-16">
                            <h2><text id="entradaCriancaD" value="">0</text></h2>
                            <span class="w3-opacity">atendidas</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <text id="mensagemDual" value=""></text>
                        </li>
                    </ul>
                </div>
                <!-- End Grid/Pricing tables -->
            </div>
        </div>



        <!-- Contact Section -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="alunos">
            <h2 class="w3-text-light-grey">Alunos</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-user fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Adhonay Júnior</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: junioradhonay@gmail.com</p>
                <p><i class="fa fa-user fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Filipe Gregorio</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: filipe.gsr@gmail.com</p>
                <p><i class="fa fa-user fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Isabelle Langkammer</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: isabellelangkammer@gmail.com</p>

            </div><br>
            <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Belo Horizonte - PUC MG</p>

            @*<p>Lets get in touch. Send me a message:</p>

                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                    <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                    <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
                    <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
                    <p>
                        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                            <i class="fa fa-paper-plane"></i> SEND MESSAGE
                        </button>
                    </p>
                </form>*@
            <!-- End Contact Section -->
        </div>

        <!-- Footer -->
        <footer class="footer-distributed" style="opacity:0.2">
         
            <div class="footer-right">
                <p class="footer-links">
                    <a href="#" onclick="voltarHome();">Home</a>
                    
                    @*<a href="#" onclick="modalSobre();">Sobre</a>*@
                    @*·*@
                    @*<a href="#" i class="fa fa-phone">  (31) 99827-3034</a>*@
                </p>
                <p>&copy; 2019 Copyright: Adhonay Júnior</p>
            </div>
        </footer>
    </div>

</body>
</html>
